<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirata</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section>
        <div class="d-flex">
            <img class="inicio1" src="../static/img/binóculo.gif" alt="Início do site. Bem-vindo!">
            <div class="p-absolute">
            <a href="/"><img class="mapa" src="../static/img/mapa.png" alt="Mapa"></a>
        </div>
    </div>
    
    <a href="/farol_cima"><div class="entrada4"></div></a> 
    </section>
</body>
</html>