<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farol</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section>
        <div class="d-flex">
            <img class="inicio" src="../static/img/farol_baixo.png" alt="Início do site. Bem-vindo!">
            <div class="p-absolute">
            <a href="/"><img class="mapa" src="../static/img/mapa.png" alt="Mapa"></a>
        </div>
    </div>
    <a href="/farol_cima"><div class="entrada2"></div></a> 
    
    <a href="/local4"><div class="entrada6"></div></a>

    <a href="/farol_baixoTEXTO"><div class="texto1"></div></a>

    </section>
</body>
</html>