<!DOCTYPE html> 
<html> 

<head> 
	<link rel="stylesheet" href="../static/css/jogo.css"> 
</head> 

<body> 
    
	<div class="background"></div> 
	<img class="bird" src="../static/img/pinguim.png" alt="bird-img"> 
    <a href="/farol_cima"><div class="entrada8">VOLTAR</div></a>
	<div class="message"> 
		Pressione 'Enter' para começar, e espaço para pular
	</div> 
	<div class="score"> 
		<span class="score_title"></span> 
		<span class="score_val"></span> 
	</div> 
	<script src="../static/js/script.js"></script> 
</body> 

</html> 
