<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML & CSS</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section>
        <div class="d-flex">
            <img class="inicio" src="../static/img/centro.png" alt="Início do site. Bem-vindo!">
            <a href="/"><img class="mapa" src="../static/img/mapa.png" alt="Mapa"></a>
        </div>
        <a href="https://open.spotify.com/user/n13edcdpduyqt4s8ah12br9ny?si=6d69d00e93a64075" target="_blank"><div class="entrada12"></div></a>
    </section>
</body>
</html>