<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versionamento</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section>
        <div class="d-flex">
            <img class="inicio" src="../static/img/montanha.png" alt="Início do site. Bem-vindo!">
            <a href="/"><img class="mapa" src="../static/img/mapa.png" alt="Mapa"></a>
        </div>

        <div class="p-texto"><p>Bem, esse aqui é bem simples né. GitHub. Eu fiquei craque nesse negócio, gosto bastante, ganhei até mesmo 50 pontos em uma prova por causa dele.<br>Enfim, eu gosto muito da facilidade do GitHub, mesmo que às vezes dá uns problemas com venv. Eu gosto de gatos. <br> <br> <span class="assinatura">Tharic</span>
        </p></div>
        <a href="/local5"><div class="X"><br> X</div></a>
    </section>
</body>
</html>