<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistemas Operacionais</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section>
        <div class="d-flex">
            <img class="inicio" src="../static/img/prainha.png" alt="Início do site. Bem-vindo!">
            <a href="/"><img class="mapa" src="../static/img/mapa.png" alt="Mapa"></a>
        </div>
        <div class="p-texto borda-azul"><p>A gente não viu  muuuito sobre Sistemas Operacionais, e o que nós vimos foi mais pro começo do ano. Enfim, eu ainda lembro daquele inferno de ter que ficar criando 1001 pastas, e printando uma por uma pra mandar pro Igor no Classroom, e também lembro de nós limpando um PC velho do SENAI, foi divertido. Creio que aquela aula sobre Cyber Segurança também está relacionada com isso, aquela aula foi legal, com coisas envolvendo hacking e etc. <br> Pois bem, eu não gosto muito de Hardware, mas essa "matéria" foi até que dahorinha.<br> <br> <span class="assinatura">Tharic</span>
        </p></div>
        <a href="/local7"><div class="X"><br> X</div></a>
    </section>
</body>
</html>